.productos{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	padding: 20px;
	margin:0 30px 0 30px;

}

.productos:hover{
	border-radius: 10px;
-webkit-box-shadow: 3px 13px 52px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 13px 52px -8px rgba(0,0,0,0.75);
box-shadow: 3px 13px 52px -8px rgba(0,0,0,0.75);
}

/*--------------DESCRIPCION DEL PRODUCTO--------------------*/
.nombre-producto{
	color:#666666;
	font-size: 18px;
}

.id-producto{
	color:#808080;
	font-size: 12px;
	margin-top: -15px;
}

.descripcion-producto{
	color:#666666;
	font-size: 15px;
}

.disponibilidad{
	background: green;
	color: white;
	padding: 1px;
	width: 90px;
	text-align: center;
	border-radius: 5px;
}

/*-------------PRECIOS DEL PRODUCTO-----------------------------*/
.precio-producto{
	color:#C12626;
}

.cantidad-productos{
	width: 40px;
	text-align: center;
	height: 36px;
	border: 1px solid #808080;
}

.comprar{
	margin-left: 10px;
	background: black;
	color: white;
	border: none;
	height: 40px;
}

.guia-producto i{
	color: #666666;
	margin:10px 0 0 10px;
}

.guia-producto i:hover{
	color: black;
	cursor: pointer;
}

/*-----------------------MODAL---------------------------------*/

.modal{
	display: none;
}

.quitarModal{
	cursor: pointer;
	font-weight: 600;
}

.modal-active{
	display: flex;

	margin-top: -250px;
	background: #f1f1f1;
	width: 900px;
	height: 500px;
	z-index: 9999;
	position: absolute;
	border-radius: 8px;
	padding: 40px;

	-webkit-box-shadow: 10px 10px 57px 50px rgba(1,1,1,.7);
	-moz-box-shadow: 10px 10px 57px 50px rgba(1,1,1,.7);
	box-shadow: 10px 10px 57px 50px rgba(1,1,1,.7);

	animation: modalIn .8s forwards;
}

@keyframes modalIn{
	0%{
		transform:translateY(-5000px);
	}

	50%{
		transform:translateY(100px);
	}

	60%{
		transform:translateY(-10px);
	}

	80%{
		transform:translateY(5px);
	}

	100%{
		transform:translateY(0px);
	}
}

.info-modal{
	margin-left: 10px;
}

.info-modal h2{
	color: #666666;
	font-size: 30px;
	text-align: center;
}

.precio-modal{
	color: #C12626;
	font-size: 20px;
}